# Data Cleaning
This notebook is to be used for data cleaning and preparing the data sets for selecting hyperparamters of sklearn models. The classification label will be listed as the last column

In [1]:
# import necessary packages and declare global variables
import pandas as pd
import numpy as np
import string
bold = '\033[1m'
unbold = '\033[0m'

In [2]:
# import datasets and assign headers
adult_column = ["age", "workclass", "num_represented", "education", "education_num", "marital_status", "occupation",
                "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "country", "income"]

cover_column = ["elevation", "aspect", "slope", "h_dist_to_water", "v_dist_to_water", "h_dist_to_road", "shade_am",
                "shade_noon", "shade_pm", "h_dist_to_fire", "wilderness_area1", "wilderness_area2", "wilderness_area3",
                "wilderness_area4", 'soil_type1', 'soil_type2', 'soil_type3', 'soil_type4', 'soil_type5', 'soil_type6',
                'soil_type7', 'soil_type8', 'soil_type9', 'soil_type10', 'soil_type11', 'soil_type12', 'soil_type13',
                'soil_type14', 'soil_type15', 'soil_type16', 'soil_type17', 'soil_type18', 'soil_type19', 'soil_type20',
                'soil_type21', 'soil_type22', 'soil_type23', 'soil_type24','soil_type25', 'soil_type26', 'soil_type27',
                'soil_type28', 'soil_type29', 'soil_type30', 'soil_type31', 'soil_type32', 'soil_type33', 'soil_type34',
                'soil_type35', 'soil_type36', 'soil_type37', 'soil_type38', 'soil_type39', 'soil_type40',  "cover_type"]

letter_column = ["letter", "x_box", "y_box", "width", "height", "total_pix", "x_bar", "y_bar", "x2_bar",
                 "y2_bar", "xy_bar", "x2y_bar", "xy2_bar", "x_edge", "x_edge_y", "y_edge", "y_edge_x"]

adult = pd.read_csv('Original Data/adult.csv', names=adult_column, na_values='?')
cover = pd.read_csv('Original Data/covtype.csv', names=cover_column, na_values='?')
letter = pd.read_csv('Original Data/letter-recognition.csv', names=letter_column, na_values='?')

## Describing the datasets

In [3]:
# describe the adult dataset
print(bold+"Adult dataset"+unbold)
print("{} rows, {} attributes".format(adult.shape[0], adult.shape[1]))
print("{} missing values".format(adult.isnull().sum().sum()))
print("{} rows with missing values".format(adult.isnull().any(axis=1).sum()))
adult.head()

Adult dataset
32561 rows, 15 attributes
4262 missing values
2399 rows with missing values

,age,workclass,num_represented,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# descibe the cover dataset
print(bold+"Cover dataset"+unbold)
print("{} rows, {} attributes".format(cover.shape[0], cover.shape[1]))
print("{} missing values".format(cover.isnull().sum().sum()))
cover.head()

Cover dataset
581012 rows, 55 attributes
0 missing values

,elevation,aspect,slope,h_dist_to_water,v_dist_to_water,h_dist_to_road,shade_am,shade_noon,shade_pm,h_dist_to_fire,...,soil_type32,soil_type33,soil_type34,soil_type35,soil_type36,soil_type37,soil_type38,soil_type39,soil_type40,cover_type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [5]:
# display how many missing values are in each dataset
print(bold+"Letter dataset"+unbold)
print("{} rows, {} attributes".format(letter.shape[0], letter.shape[1]))
print("{} missing values".format(letter.isnull().sum().sum()))
letter.head()

Letter dataset
20000 rows, 17 attributes
0 missing values

,letter,x_box,y_box,width,height,total_pix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_bar,xy2_bar,x_edge,x_edge_y,y_edge,y_edge_x
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

## Cleaning Adult Dataset
The <b>Adult dataset</b> has missing values and categorical data, so we need to remove the rows with missing data and convert all the categorical data into numerical data.

In [6]:
# show breakdown of missing values
print(bold+"Breakdown of missing values in Adult dataset"+unbold)
print(adult.isnull().sum())

# drop the rows with na in the adult dataset
adult.dropna(inplace=True)
print('\n'+bold+"Shape of adult with dropped rows"+unbold)
print("{} rows, {} attributes".format(adult.shape[0], adult.shape[1]))

Breakdown of missing values in Adult dataset
age                   0
workclass          1836
num_represented       0
education             0
education_num         0
marital_status        0
occupation         1843
relationship          0
race                  0
sex                   0
capital_gain          0
capital_loss          0
hours_per_week        0
country             583
income                0
dtype: int64

Shape of adult with dropped rows
30162 rows, 15 attributes

In [7]:
# transform categorical data into binary values
left = pd.get_dummies(adult[adult.columns[:len(adult.columns)-1]])

# income <=50K is rep. as -1, >50K is rep. as 1
right = adult['income'].replace(to_replace=['<=50K','>50K'], value=[-1,1])

# adult dataset is now ready for modeling
adult_clean = pd.concat([left,right],axis=1)

# final shape of clean dataset
print("{} rows, {} attributes".format(adult_clean.shape[0], adult_clean.shape[1]))

# export dataset to new csv file
adult_clean.to_csv('Data/adult_clean.csv',index=False)

30162 rows, 105 attributes

## Cleaning Cover Dataset
The <b>Cover dataset</b> is converted to numerical data by treating the largest cover as the positive and the
rest as negative.

In [8]:
# Calculate the binary data for cover type
largest = max(cover['cover_type'].unique())
rest = list(filter(lambda c: c != largest, cover['cover_type'].unique()))
negCov = [-1] * len(rest)

# transform the cover_type data into binary values
cover_type = cover['cover_type'].replace(to_replace=[largest, *rest], value=[1, *negCov])

# cover dataset is now ready for modeling
cover_clean = pd.concat([cover[cover.columns[:len(cover.columns)-1]],cover_type],axis=1)

# final shape of clean dataset
print("{} rows, {} attributes".format(cover.shape[0], cover.shape[1]))

# export dataset to new csv file
cover_clean.to_csv('Data/cover_clean.csv',index=False)

581012 rows, 55 attributes

## Cleaning Letter Dataset
The <b>Letter dataset</b> is will be converted to numerical data in two different ways. 

<b>letter_p1</b> treats ”O” as positive and the remaining 25 letters as negative, yielding a very unbalanced problem. <br><b>letter_p2</b> uses letters A-M as positives and the rest as negatives, yielding a well balanced problem.

In [9]:
# separate out the letter column
let = letter['letter'] 

# get the alphabet
alpha = list(string.ascii_uppercase)

#### Getting letter_p1 dataset

In [10]:
# separate "O" from the rest of the alphabet
other = list(filter(lambda a: a != "O", alpha))
neg_p1 = [-1] * len(other)

# transform the letter column into the p1 numerical values
p1 = let.replace(to_replace=["O", *other], value=[1,*neg_p1])

# letter_p1 dataset is now ready for modeling
letter_p1 = pd.concat([letter[letter.columns[1:]],p1],axis=1)

# export dataset to new csv file
letter_p1.to_csv('Data/letter_p1.csv',index=False)

#### Getting letter_p2 dataset

In [11]:
# separate the two halfs of the alphabet
upper = alpha[:len(alpha)//2]
lower = alpha[len(alpha)//2:]
pos_p2 = [1] * len(upper)
neg_p2 = [-1] * len(lower)

# transform the letter column into the p1 numerical values
p2 = let.replace(to_replace=[*upper, *lower], value=[*pos_p2,*neg_p2])

# letter_p2 dataset is now ready for modeling
letter_p2 = pd.concat([letter[letter.columns[1:]],p2],axis=1)

# export dataset to new csv file
letter_p2.to_csv('Data/letter_p2.csv',index=False)