In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import joblib

In [62]:
d = {'Algorithm': ['KNN','LOGIT','RF'],
     'Adult':     [0.8258, 0.8453, 0.8460],
     'Cover':     [0.8453, 0.7567, 0.8215],
     'Letter_p1': [0.9911, 0.9622, 0.9874],
     'Letter_p2': [0.9567, 0.7264, 0.9455]
    }

alg = ['KNN','LOGIT','RF']
scores = pd.DataFrame(d).set_index('Algorithm')
scores

            Adult   Cover  Letter_p1  Letter_p2
Algorithm
KNN        0.8258  0.8453     0.9911     0.9567
LOGIT      0.8453  0.7567     0.9622     0.7264
RF         0.8460  0.8215     0.9874     0.9455

In [96]:
s = {'Algorithm': ['Adult1','Adult2','Adult3','Cover1','Cover2','Cover3','Letter_p11','Letter_p12','Letter_p13','Letter_p21','Letter_p22','Letter_p23'],
          'KNN':       [82.99   , 82.24  , 82.51  ,  78.35 , 77.66  , 78.19  , 99.11      , 99.13      , 99.09      , 95.53      , 95.67      , 95.83],
          'LOGIT':     [84.61   , 84.54  , 84.45  ,  75.48 , 75.40  , 76.13  , 96.13      , 96.25      , 96.29      , 72.65      , 72.59      , 72.70],
          'RF':        [84.78   , 84.41  , 84.61  ,  82.13 , 81.68  , 82.64  , 98.53      , 98.93      , 98.77      , 94.36      , 94.99      , 94.31]
         }

raw_scores = pd.DataFrame(s).set_index('Algorithm').T.div(100)
raw_scores

Algorithm,Adult1,Adult2,Adult3,Cover1,Cover2,Cover3,Letter_p11,Letter_p12,Letter_p13,Letter_p21,Letter_p22,Letter_p23
KNN,0.8299,0.8224,0.8251,0.7835,0.7766,0.7819,0.9911,0.9913,0.9909,0.9553,0.9567,0.9583
LOGIT,0.8461,0.8454,0.8445,0.7548,0.7540,0.7613,0.9613,0.9625,0.9629,0.7265,0.7259,0.7270
RF,0.8478,0.8441,0.8461,0.8213,0.8168,0.8264,0.9853,0.9893,0.9877,0.9436,0.9499,0.9431

In [ ]:
ms = {'Algorithm': ['Adult1','Adult2','Adult3','Cover1','Cover2','Cover3','Letter_p11','Letter_p12','Letter_p13','Letter_p21','Letter_p22','Letter_p23'],
          'KNN':       [82.99   , 82.24  , 82.51  ,  78.35 , 77.66  , 78.19  , 99.11      , 99.13      , 99.09      , 95.53      , 95.67      , 95.83],
          'LOGIT':     [84.61   , 84.54  , 84.45  ,  75.48 , 75.40  , 76.13  , 96.13      , 96.25      , 96.29      , 72.65      , 72.59      , 72.70],
          'RF':        [84.78   , 84.41  , 84.61  ,  82.13 , 81.68  , 82.64  , 98.53      , 98.93      , 98.77      , 94.36      , 94.99      , 94.31]
         }

In [93]:
print((ttest.iloc[2,:3].mean()+ttest.iloc[2,3:6].mean()+ttest.iloc[2,6:9].mean()+ttest.iloc[2,9:].mean())/4)
# print(ttest.iloc[2,9:].mean())
# print(ttest.iloc[2,9:].mean())
# ttest.iloc[0,9:]

0.9001166666666666

In [3]:
adult1 = joblib.load("Models/best_adult_model_1.pkl")

In [5]:
adult1.cv_results_

{'mean_fit_time': array([0.0965291 , 0.06323109, 0.07515097, 0.06016121, 0.06504917,
        0.06303892, 0.06721144, 0.06634088, 0.07695947, 0.07014184,
        0.06617637, 0.06118202, 0.0690835 , 0.06570511, 0.06610603,
        0.07295384, 0.06789775, 0.06270862, 0.06231685, 0.06477013,
        0.06117826, 0.06798062, 0.06620836, 0.06573439, 0.06537924]),
 'std_fit_time': array([0.03640822, 0.00420107, 0.01617646, 0.00234436, 0.00697001,
        0.0045234 , 0.00693722, 0.00567815, 0.02168362, 0.00422834,
        0.00363897, 0.00394729, 0.01165125, 0.00626327, 0.00543108,
        0.01726348, 0.0075573 , 0.00467614, 0.00316637, 0.00485136,
        0.00184762, 0.00882522, 0.0098756 , 0.00724054, 0.006814  ]),
 'mean_score_time': array([0.56830745, 0.5373796 , 0.51269174, 0.52059865, 0.54341054,
        0.57505341, 0.58267169, 0.67997904, 0.63451953, 0.67254834,
        0.67739215, 0.63564296, 0.74331827, 0.67858887, 0.6989397 ,
        0.68570762, 0.69469309, 0.71330209, 0.73534946, 0.74480324,
        0.79871902, 0.80776491, 0.84965353, 0.82517056, 0.91660743]),
 'std_score_time': array([0.05465197, 0.03560621, 0.01779762, 0.00829486, 0.00818983,
        0.01721923, 0.0349941 , 0.02597024, 0.02847285, 0.04118758,
        0.04511965, 0.01160208, 0.05218063, 0.0250395 , 0.0440525 ,
        0.02780554, 0.04217187, 0.0277814 , 0.03851749, 0.04066004,
        0.05151076, 0.04665626, 0.07378084, 0.0299253 , 0.07864848]),
 'param_classifier__n_neighbors': masked_array(data=[1, 1, 1, 2, 2, 3, 4, 6, 7, 10, 13, 17, 22, 28, 37, 48,
                    62, 81, 105, 136, 177, 229, 297, 385, 500],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_classifier__weights': masked_array(data=['distance', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'distance', 'distance',
                    'distance', 'distance', 'distance', 'distance',
                    'distance'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'classifier__n_neighbors': 1, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 1, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 1, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 2, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 2, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 3, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 4, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 6, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 7, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 10, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 13, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 17, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 22, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 28, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 37, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 48, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 62, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 81, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 105, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 136, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 177, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 229, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 297, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 385, 'classifier__weights': 'distance'},
  {'classifier__n_neighbors': 500, 'classifier__weights': 'distance'}],
 'split0_test_score': array([0.772, 0.772, 0.772, 0.772, 0.772, 0.793, 0.803, 0.804, 0.805,
        0.819, 0.817, 0.819, 0.82 , 0.822, 0.835, 0.831, 0.825, 0.831,
        0.827, 0.824, 0.822, 0.826, 0.827, 0.823, 0.815]),
 'split1_test_score': array([0.763, 0.763, 0.763, 0.763, 0.763, 0.784, 0.79 , 0.797, 0.802,
        0.809, 0.814, 0.816, 0.812, 0.823, 0.822, 0.821, 0.809, 0.807,
        0.817, 0.818, 0.823, 0.817, 0.809, 0.81 , 0.797]),
 'split2_test_score': array([0.757, 0.757, 0.757, 0.757, 0.757, 0.789, 0.789, 0.796, 0.798,
        0.799, 0.808, 0.806, 0.813, 0.814, 0.817, 0.824, 0.827, 0.83 ,
        0.826, 0.82 , 0.826, 0.827, 0.824, 0.819, 0.81 ]),
 'split3_test_score': array([0.769, 0.769, 0.769, 0.769, 0.769, 0.796, 0.794, 0.819, 0.816,
        0.817, 0.815, 0.818, 0.82 , 0.828, 0.83 , 0.826, 0.828, 0.831,
        0.83 , 0.83 , 0.832, 0.837, 0.83 , 0.827, 0.819]),
 'split4_test_score': array([0.766, 0.766, 0.766, 0.766, 0.766, 0.784, 0.795, 0.786, 0.796,
        0.8  , 0.802, 0.804, 0.803, 0.801, 0.806, 0.808, 0.811, 0.816,
        0.821, 0.825, 0.828, 0.823, 0.823, 0.822, 0.81 ]),
 'mean_test_score': array([0.7654, 0.7654, 0.7654, 0.7654, 0.7654, 0.7892, 0.7942, 0.8004,
        0.8034, 0.8088, 0.8112, 0.8126, 0.8136, 0.8176, 0.822 , 0.822 ,
        0.82  , 0.823 , 0.8242, 0.8234, 0.8262, 0.826 , 0.8226, 0.8202,
        0.8102]),
 'std_test_score': array([0.0051614 , 0.0051614 , 0.0051614 , 0.0051614 , 0.0051614 ,
        0.00479166, 0.0049558 , 0.01092886, 0.00703136, 0.00830422,
        0.00549181, 0.00631189, 0.00628013, 0.0094361 , 0.01013903,
        0.0077201 , 0.00824621, 0.00981835, 0.00462169, 0.00417612,
        0.0036    , 0.00651153, 0.00722772, 0.00570614, 0.0074135 ]),
 'rank_test_score': array([21, 21, 21, 21, 21, 20, 19, 18, 17, 16, 14, 13, 12, 11,  7,  7, 10,
         5,  3,  4,  1,  2,  6,  9, 15], dtype=int32)}

In [6]:
test = pd.read_csv('../Data/letter_p1.csv')

In [7]:
test

,x_box,y_box,width,height,total_pix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_bar,xy2_bar,x_edge,x_edge_y,y_edge,y_edge_x,letter
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,-1
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,-1
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,-1
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,-1
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,-1
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,-1
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,-1
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,-1
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,-1